<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @house.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Add a picture for your house' %>
    <%= image_tag @house.image_url(:thumb) if @house.image? %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.check_box :remove_image %>
    <%= f.label 'Remove image' %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %>
    <%= f.text_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %>
    <%= f.text_field :bathrooms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>