<h2 class="subheader" style="margin-bottom: 0px"> Houses <%= image_tag("House.png", :size => "40x40", :style => "padding-bottom: 7px") %></h2>
<%= link_to "Add House", new_house_path %><br><br>
<p>Find a house</p>
<%= form_tag houses_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :class => "tiny button radius" %>
<% end %>

<% if @houses.nil? %>
<% else %>
  <% @houses.each do |house| %>
        <div class="container">
          <%= image_tag house.image_url(:thumb), :class =>"house-image" %>
          <div class="add-house">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{house.latitude}%2C#{house.longitude}", :class => "map-image" %>
            <button class="plus-button">
              <%= link_to '+', tenancies_path({house_id: house.id, after_goto: houses_path }), method: :post %></button>
            </div>
          <div class="house-info">
            <%= link_to house.name, house_path(house.id) %><br>
            <%= house.address %><br>
            <%= house.city %><br>
            <strong>Bedrooms: </strong><%= house.bedrooms %><br>
            <strong>Bathrooms: </strong><%= house.bathrooms %><br>
            <strong>Description: </strong><%= house.description %><br>
            <strong>Roommates: </strong>
            <% house.tenants.each do |tenant| %>
              <%= tenant.first_name %> <%= tenant.last_name %>,
            <% end %>
          </div>
        </div>
      <% end %>
 <% end %>

<div class="row">
  <div class="large-12 columns">
  <h3>House(s) you belong to:</h3>
  </div>
</div>


<ul class="small-block-grid medium-block-grid-2">

  <% @current_user.tenancies.each do |t| %>
    <li>
      <div class="container-small">
        <%= image_tag t.house.image_url(:thumb), :class => "house-image" %>

        <div class="house-list">
          <div class="add-house">
              <button class="plus-button-small">
                <%= link_to '-', tenancy_path(t), method: :delete %>
              </button>
          </div>
          <div class="house-info">
            <%= link_to t.house.name, house_path(t.house) %><br>
            <%= t.house.address %><br>
            <%= t.house.city %><br>
            <strong>Bedrooms: </strong><%= t.house.bedrooms %><br>
            <strong>Bathrooms: </strong><%= t.house.bathrooms %><br>
          </div>
        </div>
      </div>
    </li>
  <% end %>

  <% @current_user.houses.each do |house| %>
  <% end %>
</ul>
