<h2 class="subheader" style="margin-bottom: 0px">Houses</h2>
<%= link_to "Add House", new_house_path %><br><br>
<p>Find a house: </p>
<%= form_tag houses_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @houses.nil? %>
<% else %>
  <% @houses.each do |house| %>
    <div style="float: left; display: inline-block; height: 125px; width: 150px; border: 1px solid black"><img src="http://www.hkpropertyexchange.com/wp-content/uploads/spe/thumb_036.jpg" style="height: 125px; width: 150px" /></div>
    <div style="border: 1.5px solid black; width: 1000px; height: 125px; margin-bottom: 15px; border-bottom: 1px dashed">
  	  <div style="float: left; margin-left: 15px; margin-top: 5px;">
  	  <%= link_to house.name, house_path(house.id) %><br>
  	  <%= house.address %><br>
  	  <%= house.city %><br>
  	  <strong>Bedrooms: </strong><%= house.bedrooms %><br>
  	  <strong>Bathrooms: </strong><%= house.bedrooms %><br>
  	  <strong>Description: </strong><%= house.description %><br>
      <strong>Roommates: </strong>
      <% house.tenants.each do |tenant| %>
        <%= tenant.first_name %> <%= tenant.last_name %>,
      <% end %>
  	  </div>
  	  <div style="float: right; display: inline-block">
  	  <button style="color: white; float: right; height: 30px; width: 30px; display: inline; font-size: 22px; margin: 0px; padding: 0px;"><%= "+" %></button><br>
  	  </div>
    </div>
  <% end %>
 <% end %>

  <h3>Houses you're admin for:</h3>
    <% @created_houses.each do |house| %>
        <div style ="display: inline-block; border: 1.5px solid black; width: 400px; height: 100px; margin-bottom: 15px; border-bottom: 1px dashed">
    	  <div style="display: inline; float: left; margin-left: 15px; margin-top: 5px;">
    	  <%= link_to house.name, house_path(house.id) %><br>
    	  <%= house.address %><br>
    	  <%= house.city %><br>
    	  <strong>Bedrooms: </strong><%= house.bedrooms %><br>
    	  <strong>Bathrooms: </strong><%= house.bedrooms %><br>
    	  </div>
    	  <div style="float: right; display: inline-block">
    	  <button style="color: white; float: right; height: 30px; width: 30px; display: inline; font-size: 18px; margin: 0px; padding: 0px;"><%= "+" %></button><br>
    	  </div>
      </div>
  <% end %>
