<h1 style="margin-bottom: 0px">Edit Profile</h1>
<%= link_to "Back to Profile", user_path(@user) %><br><br>
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
       <small class="error">Invalid Formats</small>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
    <div class="field">
      <%= image_tag @user.avatar_url(:thumb) if @user.avatar? %><br />
      <%= f.label 'Choose an avatar' %>
      <%= f.file_field :avatar %>
    </div>
    <div class="field">
      <%= f.check_box :remove_avatar %>
      <%= f.label 'Remove avatar' %>
    </div>
		<div class="field" style="display: inline-block; float: left; width: 50%; padding-right: 10px">
      <%= f.text_field :first_name, :placeholder => "First Name"%>
    </div>
		<div class="field" style="display: inline-block; float: left; width: 50%">
      <%= f.text_field :last_name, :placeholder => "Last Name"%>
    </div>
		<div class="field">
      <%= f.email_field :email, :placeholder => "i.e. name@domain.com"%>
    </div>
		<div class="field">
      <%= f.telephone_field :phone_number, :placeholder => "i.e. 4162229999"%>
    </div>
		<div class="field">
      <%= f.text_field :hometown, :placeholder => "Calgary"%>
    </div>
		<div class="field">
      <%= f.text_area :bio, :placeholder => "Tell us about yourself!"%>
    </div>
		<div class="field">
      <%= f.text_area :interests, :placeholder => "Interests (eg. I love old records, reggae funk, and blue cheese.)"%>
    </div>
		<div class="actions"><%= f.submit "Submit", class: "tiny button radius" %></div>
	<% end %>
</form>
