<h2 class="subheader">My Profile  <%= link_to "", edit_user_path(current_user), :class => "fi-clipboard-pencil size-28"%></h2>


<div style="display: inline-block; float:left"><%= image_tag @user.avatar_url(:thumb) if @user.avatar? %></div><br>
<div style="margin-top: -20px; top: 0px; margin-top: 0px; margin-left: 20px; display: inline-block; float:left">
  <div>Name: <%= @user.first_name %> <%= @user.last_name %></div>
  <div>Email: <%= @user.email %></div>
  <div>Phone Number: <%= @user.phone_number %></div><br />
  <div>Hometown: <%= @user.hometown %></div>
  <div>Biography: <%= @user.bio %></div>
  <div>Interests: <%= @user.interests %></div>
  <div>Houses I belong to:
    <% current_user.houses.each do |house| %>
    <%= link_to house.name, house_path(house) %> |
    <% end %>
  </div>
  <div>Houses I've created:
    <%=  %>
    <% current_user.created_houses.each do |house| %>
    <%= link_to house.name, house_path(house) %> |
    <% end %>
  </div>
</div>

