<h1 style="margin-bottom: 0px"><h2 class="subheader">My Profile</h2></h1>
<span> <%= link_to "Edit Profile", edit_user_path(current_user) %></span><br><br>

<div><%= @user.first_name %> <%= @user.last_name %></div>
<div><%= @user.email %></div>
<div><%= @user.phone_number %></div><br />
<div>Hometown: <%= @user.hometown %></div>
<div>Biography: <%= @user.bio %></div>
<div>Interests: <%= @user.interests %></div>
<div>Houses I belong to: <%= current_user.lived_in %></div>

