<br />
Hi, <%=current_user.first_name%>!
<hr />
<div class="row">
  <div class="large-12 columns">
    <h2 class="subheader">Dashboard   <%= image_tag("dashboardpic.png", :size => "40x40", :style => "padding-bottom: 9px") %></h2>
  </div>
</div>

<br>

<!-- sub nav -->
<% if current_user && current_user.houses.any? %>

  <dl id="user-house-list" class="sub-nav" data-active-id="<%= @house.id %>">
    <dt>You're viewing:</dt>
    <% current_user.houses.each_with_index do |h, i| %>
      <dd active><%= link_to h.name, welcome_path(house_id: h.id), data: { id: h.id }, class: 'house-tab' %></dd>
    <% end %>
  </dl>


<% end %>

<!-- End sub nav -->

<div class="large-9 columns" role="content">
    <div class="panel" id="incomplete_chores">
    <h5>Current Chore List</h5>
      <% @house.chores.pending.order(created_at: :desc).each do |chore| %>
        <li> <%= chore.name %></li>
      <% end %><br>
    <h5>Current Shopping List</h5>
      <% @house.shoppinglists.pending.order(created_at: :desc).each do |list| %>
        <li><%= list.name %></li>
      <% end %>
    <h5>Current Expense List</h5>
      <% @house.expenses.pending.order(created_at: :desc).each do |expense| %>
        <li><%= expense.description %> for $<%= expense.split %></li>
      <% end %>
    </div>

  <div class="panel" id="complete_chores">
    <h5>Got It Covered Already!</h5>
      <% @house.chores.complete.order(updated_at: :desc).limit(5).each do |chore| %>
        <li><%= chore.name %> [<em>completed by <%= chore.user.first_name %></em>]</li>
      <% end %>
      <% @house.shoppinglists.complete.order(updated_at: :desc).limit(5).each do |list| %>
        <li><%= list.name %> [<em>bought by <%= list.user.first_name %></em>]</li>
      <% end %>
      <% @house.expenses.complete.order(updated_at: :desc).limit(5).each do |expense| %>
        <li><%= expense.description %> [<em>paid by <%= expense.user.first_name %></em>]</li>
      <% end %>
  </div>

    <div class="panel">
      <h5>Miscellaneous</h5>
    </div>
</div>

  <!-- Chats sidebar -->
    <aside class="large-3 columns">
      <div class="panel">
    <% if current_user %>
      <div class="comments-panel">
        <h5 class="title"><i class="fi-comments size-36"></i>    Say Something!</h5>
        <% @comments.each do |comment|%>
        <div class="comment">
          <%= comment.user.first_name %> says:
          <%= comment.content %>
        </div>
        <% end %>

        <%= form_for [@house, @comment], remote: true do |f| %>
          <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved</h2>
              <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <br/>
          <%= f.hidden_field :house_id, value: @house.id %>
           <div class="field">
            <%= f.text_area :content %>
           </div>
           <div class="actions">
            <%= f.submit "Arg..Hear ye, Hear ye!", class: "chat-button" %>
           </div>
        <% end %>
    </div>
      <br>
      <a href="#"><font color="white"><%= link_to "Read chat history...", house_comments_path(@house) %></font></a>
    </div>
  </aside>
<% end %>


      </div>

    <!-- End chats sidebar -->


