<h2 class="subheader">Things We Need <%= image_tag("tobuy.png", :size => "32x32", :style => "padding-bottom: 10px") %></h2>

<!-- sub nav -->
<% if current_user && current_user.houses.any? %>
  <dl id="user-house-list" class="sub-nav" data-active-id="<%= @house.id %>">
    <dt>You're viewing:</dt>
      <% current_user.houses.each do |h| %>
        <dd active><%= link_to h.name, house_shoppinglists_path(h.id), data: { id: h.id }, class: "house-tab" %></dd>
      <% end %>
  </dl>
<% end %>
<!-- end sub nav -->

<div id="shoppinglist-form">
  <%= render "form" %>
</div>

<div class="incomplete-shopping-list">
  <% if current_user.houses %>
    <% @shoppinglists.each do |list| %>
      <div class="new-shoppinglist-item">
          <h4>
            <br>
            <strong>Item: </strong><%= list.name %>
          </h4>
          <h6>
            <%= link_to "Purchased", complete_task_house_shoppinglists_path(list.house.id, shoppinglist_id: list.id), method: :patch, data: { confirm: "Are you sure you bought it?!"} %>
            <% if list.user.id == current_user.id%> |
              <%= link_to "Edit", edit_house_shoppinglist_path(list.house.id, list.id) %>
            <% end %>
          </h6>
          
          <strong>Created by: </strong>
          <%= list.user.first_name %> <%= list.user.last_name %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- template for new shopping list item -->
<script id="shoppinglist" type="text/html">
  <div class="new-shoppinglist-item">
    <div>
      <h4>
        <strong>Item: </strong> {{ item_name }}
      </h4>
    
      <h6>
        <a data-confirm="Are you sure you bought it?!" data-method="patch" href="/houses/{{ house_id }}/shoppinglists/complete_task?shoppinglist_id={{ shoppinglist_id }}" rel="nofollow">Purchased</a> |

        <a href="/houses/{{ house_id }}/shoppinglists/{{ shoppinglist_id }}/edit">Edit</a>
      </h6>

    <strong>Created by: </strong>{{ user_name }}
  </div>
</script>
