<h2 class="subheader">Things We Need <%= image_tag("tobuy.png", :size => "32x32", :style => "padding-bottom: 10px") %></h2>

<!-- sub nav -->
<% if current_user && current_user.houses.any? %>
  <dl id="user-house-list" class="sub-nav" data-active-id="<%= @house.id %>">
    <dt>You're viewing:</dt>
      <% current_user.houses.each do |h| %>
        <dd active><%= link_to h.name, house_shoppinglists_path(h.id), data: { id: h.id }, class: "house-tab" %></dd>
      <% end %>
  </dl>
<% end %>
<!-- end sub nav -->

<div id="shoppinglist-form">
  <%= render "form" %>
</div>

<div class="incomplete-shopping-list">
  <% if current_user.houses %>
    <% @shoppinglists.each do |list| %>
      <div class="new-shoppinglist-item">
        <span>
          <strong>User: </strong><%= list.user.first_name %> <%= list.user.last_name %> | <%= link_to "Purchased", complete_task_house_shoppinglists_path(list.house.id, shoppinglist_id: list.id), method: :patch, data: { confirm: "Are you sure you bought it?!"} %>
        </span>
          <% if list.user.id == current_user.id%>
            <span>
              | <%= link_to "Edit", edit_house_shoppinglist_path(list.house.id, list.id) %>
            </span>
          <% end %>
        <br>
        <span>
          <strong>Item: </strong><%= list.name %>
        </span>
        <div>
          <strong>Last updated: </strong><%= list.updated_at %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- template for new shopping list item -->
<script id="shoppinglist" type="text/html">
  <div class="new-shoppinglist-item">
    <div>
      <strong>User: </strong>{{ user_name }} | <a data-confirm="Are you sure you bought it?!" data-method="patch" href="/houses/{{ house_id }}/shoppinglists/complete_task?shoppinglist_id={{ shopping_id }}" rel="nofollow">Purchased</a> | <a href="/houses/{{ house_id }}/shoppinglists/{{ shoppinglist_id }}/edit">Edit</a>
    </div>
    <span><strong>Item: </strong> {{ item_name }} </span>
    <div>
      <strong>Last updated: </strong>
      {{ created_at }}
    </div>
  </div>
</script>

