<h1 style="margin-bottom: 0px">Chores</h1>
<%= link_to "Add Chore", new_chore_path %><br><br>
<% @chores.each do |chore| %>
  <div><strong>User: </strong><%= chore.user.first_name %> <%= chore.user.last_name %></div>
  <span><strong>Chore: </strong><%= chore.name %><span>
  	<% if chore.user.id == current_user.id%>
  		<span> | <%= link_to "Edit Chore", edit_chore_path(chore.id) %></span>
  	<% end %>
  <div><strong>Last updated: </strong><%= chore.updated_at %></div><br>
<% end %>
