<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "roomami" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Foundation</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        ...
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        ...
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

    <!-- Nav Bar -->

    <div class="fixed">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "roomami", root_url %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">

        <% if current_user %>
        <ul class="center">
          <li class="divider"></li>
          <li><%= link_to "Home", welcome_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "Houses", houses_url %></li>
          <li class="divider"></li>
          <li><%= link_to "Chores", chores_url %></li>
        </ul>
        <span style="float: right; margin-right: 20px"><font color=white>Welcome, <%= current_user.first_name %>!
        <%= link_to "Log out", logout_path %></font></span>

      <% else %>
        <span style="float: right"><%= link_to "Sign up", signup_path %> <font color= "#F2F2F2">or</font>
        <%= link_to "Log in", login_path %>.</span>
      <% end %>

     <div id="flash">
        <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
          <p id="alert"><%= flash[:alert] %></p>
        <% end %>
      </div>

        </section>
      </nav>
    </div>

      <!-- End Nav


      <!-- Main Page Content and Sidebar -->
      <div class="row">

        <!-- Main Blog Content -->
        <div class="main-container">
          <div class="large-12 columns" role="content">

             <div id="myModal" class="reveal-modal" data-reveal>
                <h2>Awesome. I have it.</h2>
                <p class="lead">Your couch.  It is mine.</p>
                <p>Hi Celia!<br>Hi Andrew!<br>Hi Janet!</p>
                <a class="close-reveal-modal">&#215;</a>
            </div>

            <a href="#" data-reveal-id="myModal" data-reveal>Click Me For A Modal</a>

            <%= yield %>

          </div>
        </div>

        <!-- End Main Content -->

      </div>
      <!-- End Main Content and Sidebar -->


      <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>© Roomami 2014</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <%= params %>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>